/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

/* Header, Nav, Main, Footer */
header, nav, main, footer {
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
}

header, nav, footer{
    width: 100%;
}

main{
    width: 90%;
}
/* Header */
header {
    position: relative;
    background-color: #F19953;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 0%;
    color: #0c3146;
    font-size: 40px;
}

header img {
    margin-right: 10px;
    box-shadow: 5px 5px 5px rgba(17, 38, 44, 0.9);
    border-radius: 10px;
    display: block;
}

header span {
    color: #0a3247;
    font-weight: bold;
}

.social-header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 60px 60px;
}

/* Navigation */
nav {
    background-color: #0c4767;
    margin-top: 0%;
    padding: 0%;
}

/* small view navigation */
#myButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: .25rem 2vw;
}

#myButton::before {
    content: "☰";
}

#myButton.open::before {
    content: "❎";
}

ul.menuLinks li a {
    border: pink;
    display: block;
    padding: .75rem 2vw;
    color: #fff;
    text-decoration: none;
}

ul.menuLinks {
    display: none;
}

ul.menuLinks.open {
    display: block;
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #333;
    color: #fff;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
    display: block;
}

/* Active link */
li.active {
    background-color: rgba(118, 65, 52, 0.9);
}

.wayfinding::before {
    content: "📍";  
}

nav ul {
    list-style-type: none;
    margin-top: 0%;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.hero {
    margin: 10px auto;
    position: relative;
    display: flex;
    justify-content: center;
}

.hero img {
    width: 100%;
    height: auto; 
    object-fit: cover;
}

.herolabel1,
.herolabel2,
.herolabel3,
.button-box {
    position: absolute;
}

.herolabel1 {
    top: 5%; 
    width: 80%;
}

.herolabel2 {
    top: 25%; 
    width: 80%;
}

.herolabel3 {
    top: 60%;
    width: 80%;
}

.button-box {
    top: 80%;
    padding-top: 20px;
}

.herolabel1 p {
    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 15px;
    color:#023047; 
    background: radial-gradient(#fff, rgba(110,199, 237,0.7));
}

.herolabel2 p {
    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 25px;
    color:#180c01; 
    background: radial-gradient(#fff, #8ac8e5);
    box-shadow: 1rem 1rem 3rem #fff;
    opacity: 0.75;
}

.herolabel3 p {
    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 15px;
    font-family: cursive;
    color: #023047;
    background: rgba(110,199, 237,0.5);
}

.join {
    background-color:  #f59f3d;;
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 50px;
    border-radius: 5px;
}

.join:hover {
    background-color: #023047;
    color: white;
}

/* Main H1 */
main {
    background-color: #eee;
}

/* Class Grid */
#class-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.events, .weather {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    background-color: #0c4767;
    margin-bottom: 15px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

.business {
    display: flex;
    align-items: center;
    justify-content: left;
    color: #0c4767;
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
}

#business-grid {
    display: block;
}

#business-grid section{
    padding-bottom: 20px;
}


.card1, .card2, main section {
    background-color: #fff;
    margin: 1rem 0;
    box-shadow: 5px 5px 10px #2660A4;
    border-radius: 10px;
    padding-bottom: 20px;
}

.card1{
    border-top-left-radius: 50px;
}

main h2 {
    margin: 0%;
    color: white;
    background-color: #346083;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 20px;
    font-size: 20px;
}

/* List */
main ul {
    padding-left: 1rem;
    list-style: none;
    text-align: left;
}

main ul li {
    margin-bottom: 0.5rem;
}

/* Footer */
footer {
    background-color: #F19953;
    color: black;
    margin-top: 50px;
}

.footer-container {
    display: block;
    align-items: center;
}

.footer-chamber {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    color: #0a3247;
    padding-left: 30px;
    font-weight: bold;
    font-size: 25px;
}

.footer-chamber img{
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(17, 38, 44, 0.9);
}

.footer-chamber span {
    padding-left: 10px;
}

.footer-contact {
    display: block;
    color:#0a171e;
}

.footer-social img {
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(17, 38, 44, 0.9);
}

.footer2 {
    padding-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

p img {
    margin-left: 5px; 
}

/* Discover css */
.container {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
  }
  
.sidebar{
    width: 100%;
    background-color: #f0f0f0;
}

.sidebar-visit,.sidebar-calendar, .sidebar-events{
    margin-bottom: 30px;
    background-color: white;
    padding-bottom: 20px;
    border-radius: 10px;
}


.sidebar-content{
    padding-top: 20px;
}

.visits{
    padding-top: 20px;
    color: #0a3247 ;
    font-weight: bold;
    padding-left: 10px;
}

.main-content {
    padding-bottom: 20px;
}

.image-container {
    position: relative;
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    gap: 50px;
}

.image-container .image-caption {
    position: relative;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    background: black;
    border-radius: 10px;
    animation: fade 15s;

}

.image-container p {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7); 
    color: white; 
    padding: 5px 10px; 
    font-size: 15px; 
    z-index: 1;
    border-radius: 5px;
}
  
picture {
    position: relative;
    display: inline-block;
}

picture img {
    max-width: 200px;
    max-height: 300px;
}
  
.lazy-image {
    width: 100%;
    height: auto;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out;
}
  
.lazy-image.loaded {
    opacity: 1; 
}

@keyframes fade{
    0% {
    opacity: 0;
}

    100% {
        opacity: 1;
    }
}

/* Form css */
:root {
	--max-width-form: 400px;
	--font-size-h1: 1.5rem;
	--color-navy: navy;
	--color-red: red;
}
  
form {
	margin: 20px auto;
	max-width: var(--max-width-form);
	display: flex;
	flex-direction: column;
	position: relative;
}
  
h1 {
 	margin: 20px auto;
	font-size: var(--font-size-h1);
}
  
input,
textarea,
select {
    width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 0;
	border-bottom: 1px solid var(--color-navy);
	font-size: 1.1rem;
}
  
button {
	padding: 10px;
	font-size: 1.2rem;
	font-weight: 700;
}

.input-container, .membership-level {
	color: var(--color-navy);
	font-size: 16px;
	text-align: left;
    font-weight:400;
}
  
input:focus,
textarea:focus {
	outline: none;
}
  
input::placeholder {
	font-size: 13px;
}
  
.visible {
	visibility: visible;
	margin: 10px;
	padding: 0.5rem;
	color: var(--color-red);
}

.req::before {
	font-size: 10px;
	content: " *️⃣";
}
  
.smaller {
	font-size: 11px;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
  
#currentRating {
	font-size: 2rem;
	color: var(--color-navy);
}

.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	text-align: left;
  }

  
.radio-container label {
    display: flex; /* Make the labels block-level elements */
    color: black;
}
  
  /* Hide the browser's default radio button */
  .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid black; /* Add a black border with 2px width */
}

  
  /* On mouse-over, add a grey background color */
  .radio-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .radio-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radio-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .radio-container .checkmark:after {
       top: 4px;
      left: 4px;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background: white;
  }

.button-submit {
    top: 20%;
    padding-top: 10px;
}

#btnSubmit {
    background-color:#023047;;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
}

#btnSubmit:hover {
    background-color: gray;
    color: white;
}

  /* table css */
:root {
	--back: hsla(206, 95%, 14%, 1);
  --back2: hsla(206, 95%, 14%, .2);
  --foredark: hsla(0,0%,10%,1);
	--forelight: hsla(0,0%,100%,1);
	--border: hsla(0,0%,20%,.8);
	--borderlight: hsla(0,0%,33%,.3);
	--shadow: hsl(0,0%,50%);
	--zebra: hsl(0, 0%, 93%, 1);
}

table {
	margin: 10px auto;
	border: thin solid var(--border);
	box-shadow: 0 0 10px var(--shadow);
	border-collapse: collapse;
}

caption {
  padding: 10px;
  caption-side: bottom;
	color: var(--back);
}

tr:first-child th, .highlight {
	background-color: var(--back);
	color: var(--forelight);
}

th, td {
	padding: 7px 15px;
	border: 1px solid var(--borderlight);
    font-size: 10px;
}

th {
	background-color: var(--back2);
}

td {
	text-align: center;
}

tbody tr:nth-child(odd) {
	background-color: var(--zebra);
}


