:root {
	--max-width-form: 200px;
	--font-size-h1: 1.5rem;
	--color-navy: navy;
	--color-red: red;
  }
  
  form {
	margin: 20px auto;
	max-width: var(--max-width-form);
	display: flex;
	flex-direction: column;
	position: relative;
  }
  
  h1 {
	margin: 20px auto;
	font-size: var(--font-size-h1);
  }
  
  input,
  textarea,
  select {
	padding: 10px;
	margin-bottom: 20px;
	border: 0;
	border-bottom: 1px solid var(--color-navy);
	font-size: 1.1rem;
  }
  
  button {
	padding: 10px;
	font-size: 1.2rem;
	font-weight: 700;
  }
  
  label {
	color: var(--color-navy);
	font-size: 16px;
	text-align: left;
  }
  
  input:focus,
  textarea:focus {
	outline: none;
  }
  
  input::placeholder {
	font-size: 13px;
  }
  
  .visible {
	visibility: visible;
	margin: 10px;
	padding: 0.5rem;
	color: var(--color-red);
  }
  
  .req::before {
	font-size: 10px;
	content: " *️⃣";
  }
  
  .smaller {
	font-size: 11px;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
  }
  
  #currentRating {
	font-size: 2rem;
	color: var(--color-navy);
  }